# Database Configuration
POSTGRES_DB=gestao_presentes
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Server Configuration
SERVER_PORT=8080

# Flyway Configuration
SPRING_FLYWAY_ENABLED=true

# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# Java Configuration (optional)
JAVA_OPTS=-Xmx512m -Xms256m

